# Backend
backend/target
backend/.git
backend/.idea
backend/*.log
backend/log.txt.*
backend/spring-app*.log
backend/IDE_ENV_SETUP.md
backend/API_SCHEMA.md
backend/system.properties
backend/.last-log-offset

# Frontend
frontend/node_modules
frontend/dist
frontend/.git
frontend/.angular
frontend/.editorconfig
frontend/README.md
frontend/UI-SPEC.md

# General
.git
.gitignore
*.md
Dockerfile
docker-compose.yml
.dockerignore